<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create New Event</h1>

	<form action="/events" method="POST">
		Name: <input type="text" name="name"><br/>
		Host: 
			<select name="host">
				<option value="<%=member._id%>"><%=member.firstName+" "+member.lastName%></option>
			</select><br/>
		Date & Time: <input type="datetime-local" name="beginDateTime"><br/>
		End Time: <input type="datetime-local" name="endDateTime"><br/>
		<h3>Address</h3>
		Address 1: <input type="text" name="addr1"><br/>
		Address 2: <input type="text" name="addr2"><br/>
		City: <input type="text" name="city"><br/>
		State: <input type="text" name="state"><br/>
		Zip Code: <input type="text" name="zip"><br/>
		Event Picture: <!-- // FILE --><br/>
		Description: <br/><textarea name="description" row="10" col="30"></textarea><br/>
		Members Only: <input type="checkbox" name="membersOnly"><br/> <!-- if an org -->
		Maximum Atendees (optional): <input type="number" name="atendeeMax"><br/>
		21+: <input type="checkbox" name="hasAlcohol"><br/>
		<button>Submit</button>
		<button type="reset">Reset</button>
	</form>

</body>
</html>