<% include ../partials/header.ejs%>

	<div class="page">

		<div class="page-head">
			<div class="pin"></div>
			<h1 class="title">New Member</h1>
		</div>
		
		<div class="page-content">
			<form action="/members" method="POST" enctype="multipart/form-data">
				<span class="tag">First Name:</span> <input type="text" name="firstName"><br/>
				<span class="tag">Last Name:</span> <input type="text" name="lastName"><br/>
				<span class="tag">Email:</span> <input type="email" name="email"><br/>
				<span class="tag">Password:</span> <input type="password" name="password"><br/>
				<span class="tag">Profile Picture:</span> <input type="file" name="profilePic">
				<span class="tag">Birthday:</span> <input type="date" name="birthday">
				<h3>Address</h3>
				<span class="tag">Address 1:</span> <input type="text" name="addr1"><br/>
				<span class="tag">Address 2:</span> <input type="text" name="addr2"><br/>
				<span class="tag">City:</span> <input type="text" name="city"><br/>
				<span class="tag">State:</span> <input type="text" name="state"><br/>
				<span class="tag">Zip Code:</span> <input type="text" name="zip"><br/>
				<span class="tag">About Me:</span> <br/><textarea name="aboutMe" row="5" col="10"></textarea><br/>
				<button>Submit</button>
			</form>	
		</div>

	</div>

<% include ../partials/footer.ejs%>