<% include ../partials/header.ejs%>

	<div class="page">

		<div class="page-head">
			<div class="pin"></div>
			<h1 class="title">New Member</h1>
		</div>
		
		<div class="page-content">
			<form action="/members" method="POST">
				First Name: <input type="text" name="firstName"><br/>
				Last Name: <input type="text" name="lastName"><br/>
				Email: <input type="email" name="email"><br/>
				Password: <input type="password" name="password"><br/>
				Birthdday: <input type="date" name="birthday">
				<h3>Address</h3>
				Address 1: <input type="text" name="addr1"><br/>
				Address 2: <input type="text" name="addr2"><br/>
				City: <input type="text" name="city"><br/>
				State: <input type="text" name="state"><br/>
				Zip Code: <input type="text" name="zip"><br/>
				About Me: <br/><textarea name="aboutMe" row="5" col="10"></textarea><br/>
				<button>Submit</button>
			</form>	
		</div>

	</div>

<% include ../partials/footer.ejs%>