<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Pacifico&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div>
			<div id="title">
				<a href="/"><div class="pin"></div></a>
				<h1 action="/">Bulletin Board</h1>
			</div>
			<% if (session.logged){%>
				<div id="header-logged">
					<h3><%=session.message%></h3>
					<a href="/members/<%=session.userId%>/edit" class="header-link">Edit Profile</a>
					<a href="/members/logout" class="header-link">Logout</a>
				</div>
			<% } else { %>
				<span id="message-area"><%=session.message%></span>
				<div id="header-right">
					<form action="/members/login" method="POST" id="login">
						Email: <input type="email" name="email">
						Password: <input type="password" name="password">
						<button>Login</button>
					</form>
					<div>Not a Member? <a href="/members/new" class="header-link">Sign Up</a></div>
				</div>
			<% } %>
		</div>
		<nav>
			<% if (session.logged){%>
				<a href="/members/:id/events" class="header-link">My Events</a>
				<a href="/members/:id/groups" class="header-link">My Groups</a>
				<a href="/" class="header-link">Browse Events</a>
				<a href="/groups" class="header-link">Browse Groups</a>
				<a href="/events/create" class="header-link">Create new Event</a>
				<a href="/groups/create" class="header-link">Create new Group</a>
			<% } else { %>
				<a href="/" class="header-link">Home</a>
			<% } %>
		</nav>
		
	</header>
	<main>