<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div>
			<h1>Bulletin Board</h1>
			<% if (session.logged){%>
				<div>
					<h3><%=session.message%></h3>
					<a href="members/logout">Logout</a>
				</div>
			<% } else { %>
				<span id="message-area"><%=session.message%></span>
				<div>
					<form action="/members/login" method="POST">
						Email: <input type="email" name="email">
						Password: <input type="password" name="password">
						<button>Login</button>
					</form>
					<a href="/members/new">Sign Up</a><br/>
				</div>
			<% } %>
		</div>
		<nav>
			<a href="/">Home</a>
			<% if (session.logged){%>
				<a href="/events/create">Create a new Event</a>
				<a href="/groups/create">Create a new Group</a>
			<% } %>
		</nav>
		
	</header>