<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bulletin Board</h1>
	<% if (session.logged){%>
		<h3>Hi, <%=session.firstName%></h3>
		<a href="/events/create">Create a new Event</a>
	<% } else { %>
		<a href="/members/new">Sign Up</a>
	<% } %>

</body>
</html>