body {
	background-image: url("images/cork.jpg");
	margin: 0px;
	font-family: 'Bad Script', cursive;
}

header, footer {
	background-color: rgb(13,55,13);
	color: white;
	position: fixed;
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 23px;
}

a {
	color: black;
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	color: rgb(13,55,13);
	text-decoration: underline;
}

.header-link {
	color: lightgreen;
	padding: 5px 10px;
	transition: 0.2s;
}

.header-link:hover {
	color: white;
	text-decoration: none;
	transform: scale(1.15);
}

.page-head > a:hover {
	color: rgb(13,55,13);
	text-decoration: none;
	transform: scale(1.15);
}

.header-link:active {
	font-size: 24px;
}

h3 {
	padding: 0px;
	margin: 0px;
}

header {
	display: flex;
	flex-direction: column;
	margin: 0px;
	top: 0px;
	z-index: 9;
}

header > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	border-bottom: 2px solid darkgreen;
	height: 100px;
}

#header-logged {
	margin-right: 15px;
}

footer {
	text-align: center;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
}

#header-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

#title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
	margin-top: 20px
}

#title > h1 {
	padding-left: 15px;
	margin: 5px 0px;
	font-family: 'Pacifico', cursive;
}

ul {
	list-style-type: none;
}

ol {
	padding-left: 30px;
}

.page:last-child {
	margin-bottom: 10%;
}

.page {
	background-color: rgb(241, 241, 212);
	margin: 5%;
	padding: 15px;
	padding: 0px;
	box-shadow: 10px 10px rgba(105,105,105,0.8);
	border: 2px solid rgb(171,163,135);
	transform: scale(1);
	transition: 0.3s;
}

.page:hover {
	transform: scale(1.05);
}

.page-tag {
	background-color: rgb(241, 241, 212);
	margin: 5%;
	padding: 0px 15px 15px 0px;
	box-shadow: 10px 10px rgba(105,105,105,0.8);
	border: 2px solid rgb(171,163,135);
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}


.pin {
	background-image: url("/css/images/pin.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	display: inline-block;

}

.title {
	display: inline-block;
	margin: 0px;
	padding-left: 15px;
	font-size: 30px;
}

.page-head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
	margin-left: 0px;
}

.page-content {
	margin: 20px;
	margin-top: 0px;
	font-size: 20px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.host {
	font-size: 15px;
}

main {
	display: inherit;
	margin-top: 215px;

}

hr {
	margin: 0px;
	height: 2px;
	color: black;
}

.page-content > h2 {
	font-size: 25px;
} 

.inner-list {
	font-size: 25px;
	margin: 0px;
	clear: both;
}

.page-content > ol {
	font-size: 20px;
	padding-left: 25px;
	margin-top: 0px;
}

.page-content > p {
	display: inline-block;
	float: left;
	position: relative;
	clear: both;
}

.page-content {
	clear: both;
	width: 73%;
	left: 0px;
}

.profile-pic {
	right: 10px;
	top: 10px;
	position: absolute;
	float: right;
	clear: both;
	max-width: 25%;
	max-height: 80%;
	border: 2px solid rgb(13,55,13);
	transition: 0.2s;
}

.profile-pic:hover {
	transform: scale(1.05);
}

#profile-icon {
	/*position: absolute;*/
	/*top: 0px;*/
	/*left: 50%;*/
	max-height: 75%;
	border: 5px solid white;
	border-radius: 100%;
	text-align: center;
	margin: 5px;
}