<% include ../partials/header.ejs %>

	<h1>Group List</h1>

	<ul>
		
		<% groups.forEach( group => { %>

		<li><a href="/groups/<%=group._id%>"><%=group.name%></a></li>

			<ol>
				<% events.forEach( event => { 
					if (events.groupHost === group._id) { %>

					<li><a href="/events/<%=event._id%>"><%=event.name%></a></li>

				<% }}) %>

			</ol>

		<% }) %>

	</ul>








<% include ../partials/footer.ejs %>