<% include ../partials/header.ejs%>

	<div class="page">
		<div class="page-head">
			<div class="pin"></div>

			<h1 class="title">Update Group Picture</h1>
		</div>
		<div class="page-content">
			<form action="/groups/<%=group._id%>/updatepic?_method=PUT" method="POST" enctype="multipart/form-data">
				<input type="file" name="profilePic"><br>
				<button>Submit</button>
			</form>
		</div>

		<% if (group.profilePic.data) { -%>
			
			<img src="/groups/profilePic/<%=group._id%>" class="profile-pic"/>
		<% } -%>
	</div>

<% include ../partials/footer.ejs%>
